@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    font-family: 'Inter', 'sans-serif';
    padding: 10px;
    background: #18191A;
    color: white;
}
h1 {
    text-align: center;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold; 
}

button {
    color: white;
    border-width: 0px;
    background-color: #198754;
    transition-duration: 0.4s;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: #198754;
}

button:disabled {
    background-color: #6c757d;
    color: white;
}